{% extends "layouts/base.html" %}
{% block title %}Add Blog{% endblock title %}
{% block content %}
{% include "components/navbar.html" %}
<div x-data="{ title: '', content: '' }" class="container mt-5 pt-2">
    <h1 class="title has-text-centered is-underlined is-italic">
        WRITE YOUR STORY
    </h1>
    <div class="columns is-centered">
        <div class="column is-half">
            <form id="blogForm" @submit.prevent="submitForm">
                <div class="field">
                    <div class="control">
                        <input
                            id="title"
                            x-model="title"
                            class="title mt-5 input is-rounded is-italic has-background-grey-lighter has-text-weight-bold"
                            type="text"
                            placeholder="Enter title"
                            required
                        />
                    </div>
                </div>
                <div class="field">
                    <label class="label is-size-5 is-italic mt-4">Your Story</label>
                    <div class="control">
                        <textarea id="editor" x-model="content"></textarea>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-primary is-medium">
                            Publish
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  ClassicEditor.create(document.querySelector("#editor"))
  .then(newEditor => {
      editor = newEditor;
  })
  .catch((error) => {
      console.error(error);
  });

  function submitForm() {
      console.log("inside submit form");
      
      const title = document.getElementById('title').value;
      const content = editor.getData();

      const formData = {
          title: title,
          content: content,
      };

      console.log(formData.title);
      console.log(formData.content);

      fetch("/add_blog", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
      })
      .then((response) => {
          if (!response.ok) {
              throw new Error("Failed to submit blog");
          }
          window.location.href = "/";
      })
      .catch((error) => {
          console.error("Error submitting blog:", error);
      });
  }
</script>

{% endblock content %}
